---
title: Super Useful Title For This Page
---
<!DOCTYPE html>
<html  data-theme="cupcake" lang="en">

  {%  include "core/head.liquid" %}

  <body>
    {%  include "navbar.liquid" %}



    <div class="container mx-auto">
    <div class="mx-auto max-w-screen-lg px-4 sm:px-0 content ">
      {{ content }}
    </div>
    </div>

    {% include "footer.liquid" %}
    {%  include "core/foot.liquid" %}
  </body>
</html>