<footer class="footer footer-center bg-base-200 text-base-content rounded p-10 mt-20">
  <nav class="grid grid-flow-col gap-4">
    <a href="/blog" class="link link-hover">Blog</a>
    <a href="#" class="link link-hover">Contact</a>
  </nav>
  <aside>
    <p>Copyright © {{ 'now' | date: "%Y" }} - All right reserved</p>
  </aside>
</footer>